.App {
  text-align: center;
  height: 100vh;
}

#page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.nav {
  display: flex;
  justify-content: center;
  border-bottom: .5px solid #40474E;
  width: 100%;
  height: 110px;
}

div h1 {
  padding-top: 10px;
  color: #40474E;
  cursor: pointer;
}

.sections-container {
  width: 80%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.presentation {
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 20px;
}

.section-text-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.title-text {
  display: flex;
  width: 100%;
  height: 23%;
  border-bottom: .5px solid #40474E;
  color: #40474E;
  font-size: 2.25rem;
}

.text-div {
  display: flex;
  align-items: center;
  width: 80%;
}

.logo-jangg-container {
  background-image: url(./images/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #373a47;
  height: 100%;
  width: 20%;
}

.icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.links {
  color: #40474E;
}

.links:hover {
  color: #61f2f5;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: initial;
  width: 100%;
  height: 87%;
  font-size: 1.50rem;
  color: #40474E;
}

.baby-steps {
  cursor: pointer;
  width: fit-content;
}

.baby-steps:hover {
  color: #61f2f5;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #40474E;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #40474E;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) and (max-width: 480px) {
  .sections-container {
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .presentation {
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 100%;
  }

  .section-text-container {
    width: 96%;
  }

  .title-text {
    flex-direction: column;
    width: 100%;
    border-bottom: .5px solid #40474E;
    font-size: 2rem;
    align-items: center;
  }

  .text-div {
    width: 100%;
  }

  .icons-div {
    width: 50%;
    margin-bottom: 20px;
  }

  .text {
    text-align: initial;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .sections-container {
    width: 100%;
    padding: 0;
    height: 100%;

  }

  .presentation {
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 100%;
  }

  .section-text-container {
    width: 96%;
  }

  .title-text {
    width: 100%;
    border-bottom: .5px solid #40474E;
    font-size: 2rem;
    align-items: center;
  }

  .text-div {
    width: 100%;
  }

  .icons-div {
    width: 35%;
  }

  .text {
    text-align: initial;
  }

}